@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Equação de 2º Grau</h1>
    <img src="https://imgs.search.brave.com/3eSdlaOFd7TqL2L4ixClF_vQwdNqg5WbDm7lWQiUMlo/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9paDEu/cmVkYnViYmxlLm5l/dC9pbWFnZS4xNDE3/MDAyMDAxLjk2MzUv/ZmxhdCw3NTB4LDA3/NSxmLXBhZCw3NTB4/MTAwMCxmOGY4Zjgu/anBn"
         alt="Imagem da fórmula resolvente" 
         width = "200"
    />
</div>

<form>
    <p>Parâmetros da equação 2º grau</p>
    <p>
        A:<input type="text" id="A" name="A"/><br>
        B:<input type="text" id="B" name="B"/><br>
        C:<input type="text" id="C" name="C"/><br>
    </p>
    <input type="submit" value="Calcular"/>
</form>

@*
Os comentários em CSHMTL tem que ser assim, quem faz isto ser um comentário é o Motor Razor
<input type="text" id="A" name="A"/><br>
id -> Identifica a 'textbox' no Client
name -> Identifica a 'textbox' no Server
*@